.board-container {
	display: flex;
	justify-content: space-between;
}

.column {
	width: 25%;
	margin: 0px 12px;
}

.name1,
.name2,
.name3,
.name4 {
	padding: 10px;
}

.name1 {
	background-color: #8e6e95;
}

.name2 {
	background-color: #39a59c;
}

.name3 {
	background-color: #344759;
}

.name4 {
	background-color: #38741e;
}

.new-card-header {
	margin: 12px;
	cursor: pointer;
}